{{define "/im/index.html"}}
<!DOCTYPE html>
<html>
<head>
<!--js include-->
{{template "/layout/head.html"}}
</head>
<body>
<!--底部菜单-->
{{template "/layout/tabmenu.html"}}
<header class="mui-bar mui-bar-nav">
</header>
<div class="mui-content" id="pageapp">
    <!--联系人-->
    {{template "/im/friends.html"}}
    <!--群聊-->
    {{template "/im/groups.html"}}
    <!--个人中心-->
    {{template "/im/profile.html"}}
    <!--聊天主界面-->
    {{template "/im/main.html"}}

</div>
</body>
</html>
{{template "/layout/foot.html"}}
{{end}}